{% extends 'default.html' %}

{% load custom_tags %}

{% load custom_filters %}

{% load cache %}
{% cache 5 title %}

{% block title %}
Post
{% endblock title %}
{% endcache %}

{% cache 5 title %}

{% block content %}
    <h1>Свежих новостей: {{ posts_list|length }} </h1>
    <h6>Поиск статьи</h6>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
       {% if posts_list %}
            <table class="table table-hover">
      <thead>
        <tr class="table-dark">

          <td>Заголовок</td>
          <td>Дата публикации</td>
          <td>Текст статьи</td>
        </tr>

               {% for post in posts_list %}
           <tr>

               <td><!-- Здесь делаем заголовок кликабельным -->
    <a class="nav-link" href="{% url 'post_detail' post.pk %}">{{ post.title | censor }}</a>
                </td>
               <td>{{ post.pub_date | date:'d M Y' }}</td>
               <td>{{ post.article | censor | truncatechars:20 }}</td>
           </tr>
           {% endfor %}
        </table>

    {% else %}
       <h2>К сожалению больше новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        ...
        {% if page_obj.previous_page_number != 1 %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}

{% endcache %}