{% extends 'default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
{% trans 'Post' %}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}


<h1>{% trans 'Latest news at' %} {{ post_detail.pub_date | date:'d M Y' }}</h1>
    <hr>
       {% if post_detail %}
            <table class="table table-hover">
      <thead>
        <tr class="table-dark">

          <td>{% trans 'Title' %}</td>
          <td>{% trans 'Publication date' %}</td>
          <td>{% trans 'Post text' %}</td>
        </tr>
       <tr>
           <td>{{ post_detail.title | censor }}</td>
           <td>{{ post_detail.pub_date | date:'d M Y' }}</td>
           <td>{{ post_detail.article | censor }}</td>
       </tr>
           <td>
                   <form>
                   {% for cat in post_detail.category.all %}
                       {% csrf_token %}
                       {% if is_not_subscribe %}
                       <button type="button" class="btn btn-dark">
                       <a class="nav-link" href="/subscribe_me/?query={{post_detail.pk}}">{% trans 'Subscribe to' %} {{cat}}</a>
                       </button>
                       {% endif %}
                       {% if not is_not_subscribe %}
                             <a>{{cat}}</a>
                       {% endif %}

                       {% endfor %}
                       <br />

                   </form>
               </td>

       </table>
                <button type="button" class="btn btn-dark">
               <a class="nav-link" href="update/">{% trans 'Make changes to the article/news' %}</a>
               </button>
                <button type="button" class="btn btn-dark">
               <a class="nav-link" href="delete/">{% trans 'Delete Article/News' %}</a>
               </button>
   {% else %}
       <h2>{% trans 'Unfortunately no more news' %}!</h2>
   {% endif %}
{% endblock content %}