{% extends 'default.html' %}
{% load i18n %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}


<h2>{% trans 'Authorized User Page' %} {{request.user.username}}</h2>
<div> {% trans 'This may contain personal information for each user' %} </div>

<p>{% trans 'Nickname' %}: {{request.user.username}}</p>

<p>{% trans 'Email' %}: {{request.user.email}}</p>

<p>{% trans 'First name' %}: {{request.user.first_name}}</p>

<p>{% trans 'Last name' %}: {{request.user.last_name}}</p>

<p>{% trans 'Publication date' %}: {{request.user.date_joined}}</p>

<p>{% trans 'Time of last authorization' %}: {{request.user.last_login}}</p>

<p>id: {{request.user.pk}}</p>
<p></p>
{% if is_not_premium %}
<button type="button" class="btn btn-dark">
               <a class="nav-link" href="upgrade/">{% trans 'Become an author' %}!</a> </button>
{% endif %}
<button type="button" class="btn btn-dark">
               <a class="nav-link" href="/user_update/{{ user.pk }}/"> {% trans 'Edit profile' %}</a> </button>
<button type="button" class="btn btn-dark">
               <a class="nav-link" href="sending_me/?q={{ user.username }}&email={{ user.email }}">{% trans 'Send email to support' %}</a> </button>
<button type="button" class="btn btn-dark">
               <a class="nav-link" href="/accounts/logout/">{% trans 'Exit' %}</a> </button>
{% endblock content %}
